.header {
  background-color: black;
  padding: 10px 60px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;

  & .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &.open {
    & .bar:nth-child(1) {
      transform: rotate(45deg) translateY(11px);
    }

    & .bar:nth-child(2) {
      opacity: 0;
    }

    & .bar:nth-child(3) {
      transform: rotate(-45deg) translateY(-11.5px);
    }
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 80%;

  .ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;

    .li {
      .nav__link {
        text-decoration: none;
        color: white;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
          color: #de822f;
          filter: brightness(0.8);
        }
      }
    }
  }
}

@media(width <= 1042px) {
  .header {
    padding: 10px 30px;
  }

  .hamburger {
    display: flex;
  }

  .nav {

    .ul {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      transition: max-height 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(100%);
      border-top: 1px solid #de822f;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: black;
      z-index: 10;
      
      &.active {
        max-height: 499px;
        padding: 20px;
        display: flex;
      }
    }
  }
}